*/models/Entity/*~
*/models/Proxies/*
*/config/config.php
*/config/database.php
*/config/email.php
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
sourceFiles/*
composer.phar
vendor/*
node_modules/*
.tags
.tags_sorted_by_file
.DS_Store
.phpintel
