@font-face {
	font-family: Titillium;
	font-weight: 200;
	src: url('/assets/fonts/Titillium-Regular.otf')
}
@font-face {
	font-family: Titillium;
	font-weight: bold;
	src: url('/assets/fonts/Titillium-Bold.otf')
}
body {
	background-color: #eff2f3
}
@media (min-width:768px) {
	.mainContent {
		/*padding-top: 75px*/
	}
}
.rowPadding {
	padding-top: 10px
}
.input-mini {
	width: 60px
}
.input-small {
	width: 90px
}
.input-medium {
	width: 150px
}
.input-large {
	width: 210px
}
.input-xlarge {
	width: 270px
}
.input-xxlarge {
	width: 530px
}
.searchButton {
	background-color: #ffba00;
	color: #fff;
	padding-top: 5px
}
@media (max-width:768px) {
	.navbar-fixed-top {
		position: static
	}
}
.navbar-right {
	padding-right: 10px;
	background-color: #eff2f3
}
.navbar-right .glyphicon-user {
	color: #ffba00
}
.navbar-collapse {
	max-height: 600px
}
.navbar {
	font-family: Titillium;
	font-weight: 600;
}
.input-group-btn>.btn+.btn {
	margin-left: -5px
}
.dropdown-menu {
	left: -75px
}
.navbar-brand {
	padding: 0
}
.headerLogoText {
	padding-left: 15px;
	padding-top: 15px
}
.headerLogoImage {
	max-width: 220px;
	max-height: 50px;
	margin-top: 0;
	padding-top: 0
}
.parsley-success {
	color: #468847 !important;
	background-color: #dfeedf !important;
	border: 1px solid #d7f6d8 !important
}
.parsley-error {
	color: #b94a48 !important;
	background-color: #fff !important;
	border: 1px solid #fff !important
}
.parsley-error-list {
	font-size: 11px;
	margin: 2px;
	list-style-type: none
}
.parsley-error-list li {
	line-height: 11px
}
.viewAsset {
	display: none
}
.haveContent {
	display: none
}
.templateSelector {
	display: inline
}
.ui-autocomplete {
	padding: 10px;
	width: 400px;
	border: 1px solid #bcbdff;
	background: #fff;
	display: block
}
.ui-autocomplete li {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	list-style-type: none
}
.theme-0 {
	background-color: #d9dee2
}
.theme-0 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-0 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-0 .tabs-left>li.active>a, .theme-0 .tabs-left>li.active>a:hover, .theme-0 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-0 .tabs-left>li.active>a:hover {
	background-color: #bcc5cc
}
.theme-0 .tabs-left>li.active>a {
	background-color: #d9dee2;
	font-weight: bold
}
.theme-0 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-0 .tabs-left>li>a:hover {
	background-color: #f6f7f8
}
.theme-1 {
	background-color: #e4d2c6
}
.theme-1 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-1 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-1 .tabs-left>li.active>a, .theme-1 .tabs-left>li.active>a:hover, .theme-1 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-1 .tabs-left>li.active>a:hover {
	background-color: #d4b7a3
}
.theme-1 .tabs-left>li.active>a {
	background-color: #e4d2c6;
	font-weight: bold
}
.theme-1 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-1 .tabs-left>li>a:hover {
	background-color: #f4ede9
}
.theme-2 {
	background-color: #e1e6c8
}
.theme-2 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-2 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-2 .tabs-left>li.active>a, .theme-2 .tabs-left>li.active>a:hover, .theme-2 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-2 .tabs-left>li.active>a:hover {
	background-color: #ced6a5
}
.theme-2 .tabs-left>li.active>a {
	background-color: #e1e6c8;
	font-weight: bold
}
.theme-2 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-2 .tabs-left>li>a:hover {
	background-color: #f4f6eb
}
.theme-3 {
	background-color: #c3e5c2
}
.theme-3 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-3 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-3 .tabs-left>li.active>a, .theme-3 .tabs-left>li.active>a:hover, .theme-3 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-3 .tabs-left>li.active>a:hover {
	background-color: #a0d69e
}
.theme-3 .tabs-left>li.active>a {
	background-color: #c3e5c2;
	font-weight: bold
}
.theme-3 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-3 .tabs-left>li>a:hover {
	background-color: #e6f4e6
}
.theme-4 {
	background-color: #bde5dd
}
.theme-4 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-4 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-4 .tabs-left>li.active>a, .theme-4 .tabs-left>li.active>a:hover, .theme-4 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-4 .tabs-left>li.active>a:hover {
	background-color: #98d7ca
}
.theme-4 .tabs-left>li.active>a {
	background-color: #bde5dd;
	font-weight: bold
}
.theme-4 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-4 .tabs-left>li>a:hover {
	background-color: #e2f3f0
}
.theme-5 {
	background-color: #c6d8e4
}
.theme-5 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-5 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-5 .tabs-left>li.active>a, .theme-5 .tabs-left>li.active>a:hover, .theme-5 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-5 .tabs-left>li.active>a:hover {
	background-color: #a3c0d4
}
.theme-5 .tabs-left>li.active>a {
	background-color: #c6d8e4;
	font-weight: bold
}
.theme-5 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-5 .tabs-left>li>a:hover {
	background-color: #e9f0f4
}
.theme-6 {
	background-color: #c7c8e4
}
.theme-6 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-6 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-6 .tabs-left>li.active>a, .theme-6 .tabs-left>li.active>a:hover, .theme-6 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-6 .tabs-left>li.active>a:hover {
	background-color: #a5a6d3
}
.theme-6 .tabs-left>li.active>a {
	background-color: #c7c8e4;
	font-weight: bold
}
.theme-6 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-6 .tabs-left>li>a:hover {
	background-color: #e9eaf5
}
.theme-7 {
	background-color: #e1b9c2
}
.theme-7 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-7 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-7 .tabs-left>li.active>a, .theme-7 .tabs-left>li.active>a:hover, .theme-7 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-7 .tabs-left>li.active>a:hover {
	background-color: #d295a3
}
.theme-7 .tabs-left>li.active>a {
	background-color: #e1b9c2;
	font-weight: bold
}
.theme-7 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-7 .tabs-left>li>a:hover {
	background-color: #f0dde1
}
.theme-8 {
	background-color: #e9cfd7
}
.theme-8 .tabs-left {
	border-bottom: none;
	padding-top: 2px
}
.theme-8 .tabs-left>li {
	float: none;
	margin-bottom: 2px
}
.theme-8 .tabs-left>li.active>a, .theme-8 .tabs-left>li.active>a:hover, .theme-8 .tabs-left>li.active>a:focus {
	border-right-color: transparent
}
.theme-8 .tabs-left>li.active>a:hover {
	background-color: #d9acba
}
.theme-8 .tabs-left>li.active>a {
	background-color: #e9cfd7;
	font-weight: bold
}
.theme-8 .tabs-left>li>a {
	border-radius: 4px 0 0 4px;
	margin-right: 0;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px
}
.theme-8 .tabs-left>li>a:hover {
	background-color: #f9f2f4
}
.rightPane {
	padding-top: 10px;
	height: 100%
}
.leftPane {
	background-color: #fff;
	padding-right: 0
}
.widgetContents {
	background-color: #fff
}
.widgetContentsContainer {
	margin-left: 10px;
	margin-right: 20px;
	box-shadow: -2px 2px 5px 0 #888
}
.minipreviewContainer {
	margin-bottom: 10px;
	padding: 5px
}
@media (max-width:480px) {
	.rightPane .tab-content>.tab-pane {
		display: block
	}
}
@media only screen and (min-width:768px) {
	.rightPane .tab-content>.tab-pane {
		width: 540px
	}
}
@media only screen and (min-width:992px) {
	.rightPane .tab-content>.tab-pane {
		width: 702px
	}
}
@media only screen and (min-width:1200px) {
	.rightPane .tab-content>.tab-pane {
		width: 855px
	}
}
.tooltipRow {
	margin-bottom: 10px
}
.isPrimary {
	display: none
}
.uploadProgress {
	display: none
}
.imagePreview {
	display: none
}
.autocompletePreview {
	display: none
}
.cancelButton {
	display: none
}
.removeButton {
	display: none;
	position: absolute;
	bottom: 30px
}
#mapModalContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.mapWidget {
	width: 700px;
	height: 400px
}
.gm-style-iw {
	width: 150px;
	height: 100px
}
.autoCompleterBlock {
	padding: 10px;
	width: 400px;
	border: 1px solid #bcbdff;
	background: #fff;
	display: block
}
.autoCompleterBlock ol {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	list-style-type: none
}
.dateRange {
	display: none
}
.relatedAsset img {
	max-height: 50px;
	margin-right: 5px
}
.relatedAssetContainer .panel-title {
	position: relative
}
.relatedAssetContainer .panel-title .btn {
	display: none;
	position: absolute;
	right: -10px;
	top: -2px;
	z-index: 10
}
.relatedAssetContainer .panel-title:hover .btn {
	display: block
}
.collapsedChild .btn {
	position: absolute;
	right: 30px;
	top: 0;
	z-index: 10;
	display: none
}
.collapsedChild:hover .btn {
	display: block
}
.assetWidget {
	margin-top: 5px;
	margin-bottom: 5px
}
.assetWidget ul {
	display: inline;
	list-style-type: none;
	padding-left: 0
}
.assetWidget ul li {
	display: inline
}
.assetDetails {
	list-style: none
}
.relatedAssetThumbs {
	display: none
}
.relatedAssetThumbs .relatedAssetContents {
	border: 1px solid #d3d3d3;
	border-radius: 3px 3px 3px 3px;
	margin-top: -1px
}
.relatedAssetContents {
	display: relative
}
.relatedAssetContents .btn {
	display: none;
	position: absolute;
	right: 8px;
	top: 5px;
	z-index: 10
}
.relatedAssetContents:hover .btn {
	display: block
}
.expandRelated {
	color: #96a2a7
}
.relatedThumbContainerImage {
	z-index: 1
}
.relatedThumbToggle {
	height: 75px;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
	z-index: 1
}
.relatedThumbToggle .relatedThumbContainer {
	height: 75px;
	width: 75px;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-left: 3px;
	padding-right: 3px;
	z-index: 1;
	position: relative;
	overflow: hidden
}
.relatedThumbToggle .relatedThumbContainer .relatedThumbContainerImage {
	min-height: 75px;
	min-width: 75px
}
.relatedThumbToggle .relatedThumbTitle {
	display: none
}
.relatedThumbToggle:hover .relatedThumbContainer {
	height: 120px;
	width: 120px;
	left: -10px;
	top: -5px;
	position: absolute;
	z-index: 10;
	padding: 5px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	background-color: #fff;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer
}
.relatedThumbToggle:hover .relatedThumbContainer .relatedThumbContainerImage {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block
}
.relatedThumbToggle:hover .relatedThumbTitle {
	display: block;
	z-index: 20;
	background-color: #fff;
	width: 120px;
	left: 5px;
	top: 95px;
	position: absolute;
	padding-left: 3px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000
}
.verticalCenter {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}
#embedView>.sidebarContainer {
	padding: 20px
}
.showDetails {
	display: none;
	margin-left: 5px
}
.assetWidget .collapsedChild {
	width: 95%;
	margin-left: 15px;
	background-color: #d8dfe2
}
.assetWidget .collapsedChild .assetWidget {
	width: 95%;
	margin-left: 15px;
	padding: 10px
}
.assetWidget .collapsedChild .assetWidget .collapsedChild {
	background-color: #fff
}
.fileList img {
	display: block;
	float: left;
	margin: 5px
}
.tiny-image {
	max-width: 75px;
	max-height: 75px;
	cursor: pointer
}
.super-tiny-image {
	max-width: 50px;
	max-height: 30px;
	margin-right: 5px;
	margin-top: -6px
}
.sideScrollAssets {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden
}
.sideScrollAssets .innerDiv {
	width: 1000000px
}
.sideScrollAssets .innerDiv>div {
	width: 285px;
	display: inline-block;
	float: left
}
.sideScrollAssets .previewEntry ul li {
	white-space: normal
}
.popover {
	max-width: 350px;
	width: 350px
}
.popover iframe {
	width: 100%
}
.popover-content ul {
	margin: 0;
	padding: 0
}
.embedControl {
	width: 80%;
	display: inline
}
.popover-content ul>li:hover {
	background-color: #eff2f3
}
input[type='range'] {
	-webkit-appearance: none !important;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px #333;
	background-color: #999;
	display: block;
	height: 10px;
	left: 10px;
	margin: 20px;
	display: inline;
	right: 10px;
	width: 80%
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	-webkit-border-radius: 5px;
	background-color: #aaa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaa));
	border: 1px solid #999;
	height: 22px;
	width: 22px
}
.previewContent:hover>.removeButton {
	display: inline
}
.marker-template img {
	max-height: 75px;
	margin-right: 5px
}
.resultContainer {
	height: 370px;
	margin-bottom: 10px;
	-webkit-box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
	box-shadow: -3px -3px 4px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}
.resultContainer h5 {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	color: #175a85;
	padding-top: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.previewCrop {
	position: relative;
	width: 240px;
	height: 150px;
	overflow: hidden;
	background-color: #d9dee2;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle
}
.previewCrop .badge {
	position: absolute;
	right: 5px;
	top: 5px
}
.previewCrop:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%
}
.previewContent {
	height: 200px;
	width: 250px;
	overflow: scroll;
	padding-left: 10px;
	padding-right: 10px;
	color: #660013
}
.listResultContainer {
	margin: 10px;
	border-color: #d3d3d3;
	border-radius: 10px 10px 10px 10px;
	border-width: 1px;
	border-style: solid
}
.listResultContainer h3 {
	margin-top: 0
}
.listPreviewCrop {
	width: 100px;
	overflow: hidden;
	background-color: #d3d3d3;
	padding: 5px;
	border-radius: 10px 0 0 10px;
	vertical-align: middle;
	display: table-cell
}
.previewImage {
	max-width: 235px;
	max-height: 135px;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	vertical-align: middle
}
.listPreviewImage {
	max-width: 235px;
	max-height: 135px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto
}
.previewEntry ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	list-style-type: none
}
.previewEntry ul li {
	display: inline
}
#mapPane {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
#mapFrame {
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 56.25%;
	height: 0
}
#advancedSearchMap>.mapWidget {
	width: 100%;
	height: 400px
}
#galleryFrame {
	width: 100%;
	height: 600px
}
.searchTabs {
	background-color: #d9dee2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2)
}
.searchTabHeader {
	margin-bottom: -1px
}
.advanced-search-toggle {
	border-left: 1px solid #ccc !important
}
.collectionSelector {
	list-style-type: none
}
.useSuggest {
	cursor: pointer
}
.suggestionText {
	padding-bottom: 10px
}
.infoPopover, .canFullscreen {
	cursor: pointer
}
.infoRow {
	background-color: #d8dfe2;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 0;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding-top: 0;
	margin-bottom: 0
}
.assetViewRow {
	background-color: #d8dfe2;
	padding-bottom: 0;
	margin-top: 0
}
.videoColumn {
	height: 480px
}
.embedImage {
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto
}
.fullscreenImageContainer {
	max-height: 550px
}
.fullscreenImageContainer:-moz-full-screen {
	position: absolute;
	display: table;
	overflow: hidden;
	width: 100%;
	height: 100%
}
.fullscreenImageContainer:-moz-full-screen .imageHelper {
	display: table-cell;
	vertical-align: middle
}
.autoTruncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}