/**
 * main tempalte
 */

/*FIGURE THIS OUT */


input.parsley-success
{
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}
input.parsley-error
{
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list
{
    font-size: 11px;
    margin: 2px;
    list-style-type:none;
}

ul.parsley-error-list li
{
    line-height: 11px;
}

.buttonWithPadding {
    margin-left: 5px;
}


/** range slider **/
input[type='range'] {
    -webkit-appearance: none !important;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #333;
    background-color: #999;
    display: block;
    height: 10px;
    left: 10px;
    margin: 20px;
    display:inline;
    right: 10px;
    width: 80%;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -webkit-border-radius: 5px;
    background-color: #AAA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
    border: 1px solid #999;
    height: 22px;
    width: 22px;
}


@media (max-width: 768px) {
    .navbar-fixed-top {
        position: static;
    }
}



@media (min-width: 768px) {
    .mainContent {
     padding-top: 75px;
    }
}
.rowPadding {
    padding-top: 10px;
}


.navbar-right {
    padding-right: 5px;
}

.navbar-collapse {
    max-height: 600px;
}

/* asset template */

/* add classes to these*/

.assetWidget {
    margin-top:5px;
    margin-bottom:5px;
}

.assetWidget ul {
    display:inline;
    list-style-type: none;
    padding-left:0px;
}

.assetWidget ul li {
    display:inline;
}

.viewAsset {
    display:none;
}

.videoColumn {
    height:480px;
}

.haveContent {
    display: none;
}

.tooltipRow {
    margin-bottom: 10px;
}

.embedControl {
    width: 70%;
    display:inline;
}

.input-mini {
    width: 60px;
}
.input-small {
    width: 90px;
}
.input-medium {
    width: 150px;
}
.input-large {
    width: 210px;
}
.input-xlarge {
    width: 270px;
}
.input-xxlarge {
    width: 530px;
}

.uploadProgress {
    display:none;
}

.templateSelector {
    display:inline;
}

.imagePreview {
    display:none;
}

.autocompletePreview {
    display:none;
}

.cancelButton {
    display: none;
}

.removeButton {
    display:none;
    position:absolute;
    bottom:30px;
}

.previewContent:hover>.removeButton{
    display:inline;
}

#mapModalContainer {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.autoCompleterBlock {
    padding: 10px;
    width: 400px;
    border-top: 1px solid #bcbdff;
    border-right: 1px solid #bcbdff;
    border-bottom: 1px dotted #bcbdff;
    border-left: 1px solid #bcbdff;
    background: white;
    display:block;
}

.autoCompleterBlock ol {
    margin:0px;
    padding:0px;
    font-size: 1.2em;
    list-style-type: none;
}


/* Hide the "end date" by default */
.dateRange {
    display:none;
}

/* maps need hardcoded size*/
.mapWidget {
    width:700px;
    height:400px;
}


#advancedSearchMap > .mapWidget {
    width: 100%;
    height: 400px;
}

#galleryFrame {
    width: 100%;
    height: 600px;
}

#mapPane {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#mapFrame {
    position: relative;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 56.25%;
    height: 0;
}

#timelinePane {
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/* ASSET DISPLAY */

.assetDetails {
    /*display: none;*/
     list-style:none;
}

.relatedAssetThumbs {
    display:none;

}

.relatedAssetThumbs .relatedAssetContents {
    border: 1px solid lightgray;
    border-radius: 3px 3px 3px 3px;
    margin-top: -1px;
}

.relatedAssetContents {
    display:relative;
}

.relatedAssetContents .btn {
    display:none;
    position:absolute;
    right:8px;
    top: 5px;
    z-index: 10;
}

.relatedAssetContents:hover .btn {
    display: block;
}

.relatedThumbContainer {
    height: 75px;
    /*min-width: 50px;*/
    width: 100%;
    margin-top: 2px;
    margin-bottom:2px;
    overflow:hidden;


}


.relatedThumbContainerSelected {
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid white;
    z-index: 5;

}


.relatedThumbContainerImage {

    max-height: 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .relatedThumbToggle:hover > .hoverBox{
        display:block;
    }
}

.hoverBox {
    display:none;
    position: absolute;
    bottom: 75px;
    left: -60px;
    width: 160px;
    /*height: 160px;*/
    z-index: 10;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px 3px 3px 3px;
}

.hoverBoxImage {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.showDetails {
    display:none;
    margin-left:5px;
}

.fileList img {
    display:block;
    float:left;
    margin: 5px;
}

.tiny-image {
    max-width: 75px;
    max-height: 75px;
    cursor:pointer;
}


.super-tiny-image {
    max-width: 50px;
    max-height: 30px;
    margin-right: 5px;
    margin-top: -6px;
}

.embedImage {
    max-width:100%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto
}

.fullscreenImageContainer {
    max-height: 550px;
}

 .fullscreenImageContainer:-moz-full-screen {
    position:absolute;
    display: table;
    overflow: hidden;
    width:100%;
    height: 100%;
 }
.fullscreenImageContainer:-moz-full-screen .imageHelper {
    display: table-cell;
    vertical-align: middle;
}


.isPrimary {
    display:none;
}

.relatedAsset img {
    max-height: 50px;
    margin-right:5px;
}

.relatedAssetContainer .panel-title {
    position:relative;
}

.relatedAssetContainer .panel-title .btn {
    display:none;
    position:absolute;
    right:-10px;
    top: -2px;
    z-index: 10;
}

.relatedAssetContainer  .panel-title:hover .btn {
    display:block;
}

.collapsedChild .btn {
    position:absolute;
    right:20px;
    top: 25px;
    z-index: 10;
    display:none;
}

.collapsedChild:hover .btn {
    display:block;
}

/* SEARCH */
.searchTabs {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 10px;
}

.searchTabHeader {
    margin-bottom: -1px;
}

.advanced-search-toggle {
    border-left: 1px solid #cccccc !important;
}


.collectionSelector {
    list-style-type: none;
}

.marker-template img {
    max-height: 75px;
    margin-right: 5px;
}

.resultContainer {
    height:370px;
}



.previewCrop .badge {
    position:absolute;
    right: 5px;
    top: 5px;
}


.listResultContainer {
    margin: 10px;
    border-color: lightgray;
    border-radius: 10px 10px 10px 10px;
    border-width: 1px;
    border-style: solid;
}

.listResultContainer h3 {
    margin-top: 0px;
}

.listPreviewCrop {
    width: 100px;

    overflow:hidden;
    background-color: lightgray;
    padding: 5px;
    border-radius:10px 0px 0px 10px;
    vertical-align: middle;
    display: table-cell;
}
.listPreviewImage {
    max-width:235px;
    max-height:75px;
    margin-top:5px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;

}

.previewEntry ul {
    margin-left:0px;
    padding-left:0px;
    display:inline;
    list-style-type:none;
}

.previewEntry ul li {
    display: inline;
}

.previewCrop {
    position:relative;
    width: 250px;
    height:150px;
    overflow:hidden;
    background-color: lightgray;
    padding: 5px;
    border-radius:10px 10px 0 0;
    vertical-align: middle;
    display: table-cell;
}

.previewContent {
    background: WhiteSmoke;
    height: 200px;
    width: 250px;
    overflow:scroll;
    padding-left:10px;
    padding-right:10px;
    border-radius: 0 0 10px 10px;
}

.previewImage {
    max-width:235px;
    max-height:135px;
    margin-left:auto;
    margin-right:auto;

}


/* TODO: this should probably not be hard coded */

.gm-style-iw {
    width: 150px;
    height: 100px;
}



/** ADMIN **/

.autoTruncate {
    white-space: nowrap;

    overflow: hidden; /* "overflow" value must be different from "visible" */
    text-overflow: ellipsis;
}