#map_container{
	position: relative;
	margin-left: 0px;
	height: 100%;
}

#map{
	height: 100%;
}

.leaflet-bar button{
	padding: 0;
	padding-left: 1px;
}

.leaflet-container {
	background: #d8dfe2;
}

.material-icons.md-18{
	padding-top: 5px;
	font-size: 1.7em;
}

.mdc-button{
	margin-right: 10px;
	margin-bottom: 10px;
	height: 20px;
}

table{
	font-family: courier;
}

#map .easy-button-button{
	transition-duration: .3s;
	position: relative;
	border-radius: 4px;
	border: solid 0px transparent;
}

#map .easy-button-container{
	background-color: white;
}

#map .easy-button-button.disabled {
	height: 0;
	padding: 0;
}

.leaflet-fullscreen-on div.leaflet-top.leaflet-left {
	margin-left: 10px;
}

#leaflet-save-time-tag{
	font-size: 12px;
	margin: 4px;
}

textarea{
	resize: none;
	border: none;
}