#map_container{
	position: relative;
	margin-left: 40px;
	height: 100%;
}

#map{
	height: 100%;
}

#button_area{
	text-align: center;
	padding-top: 10px;
	z-index: 1;
	position: absolute;
	float: left;
	width: 40px;
	height: 100%;
	border-width: 0px;
	background-color: #33434B;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#save-local, #save-cloud, #download{
	color: #78909C;
}

#save-local:hover, #save-cloud:hover, #download:hover{
	color: #80DEEA;
}

#admin-save{
	padding-top: 5px;
}

.file-upload{
	padding-top: 5px;
	color: #78909C;
}

.file-upload:hover{
	color: #80DEEA;
}

.file-upload > input
{
    display: none;
}

.leaflet-container {
	background: #d8dfe2;
}

.material-icons.md-18{
	padding-top: 3px;
	font-size: 1.7em;
}

table{
	font-family: courier;
}

#map .easy-button-button{
  transition-duration: .3s;
  position: relative;
  border-radius: 4px;
  border: solid 0px transparent; }

#map .easy-button-container{
  background-color: white;}

#map .easy-button-button.disabled {
  height: 0;}